{{extend 'layout.html'}}
<style>
	#header-index-container{
		background-color:rgb(220,225,225);
		border:2px solid rgb(180,180,180);
	}
	#header-index{
		margin-left:6%;
		margin-right:6%;
	}
	#project-list-container{text-align:center;width:100%;}
	#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;}
</style>
<div id="header-index-container">
	<div id="header-index">
		<h3>discover</h3>
	</div>
</div>
<div class="centered-width">
	<p class="lead">nearby volunteer opportunities</a>
	<p class="lead">look for projects via tags</a>
	<p class="lead">showcase promoted types of projects</a>
	<p class="lead">look for projects via types of information</a>
</div>