{{extend 'layout.html'}}
<br><br>
<h1>givingfor</h1><hr>
<br>

<p class="lead">help those in need</p>
<p class="lead">crowd owned and transparent</p>
<p class="lead">the government isn't going to do it, so we are</p>
<p class="lead">if you think youre eleigble for benifits, sign up <a href="">here</a></p>
<p class="lead">giving is recieving</p>
<p class="lead">helping with food, shelter, insurance discounts, cooperate partners</p>
<p class="lead">hospitalityfor, insuringfor, deliveryfor, investingfor, bankingfor, conex.us. epoint.me</p>
<p class="lead">vote on what the value should be spent on</p>
<p class="lead"><a href="www.voetr.com/committee/givingfor">voetr committee</a></p>
<br><br>
<p class="lead">giving time, currency, items, good will, encouragement, content, professional appointments, consulting</p>
<h5>$10200120210 to spend</h5> how?</p>

<br>
<p class="lead">add a new givingfor project</p>
<p class="lead">vote on project</p>

<br><br>
<p class="lead">browse givingfor resources</p>
<p class="lead">volunteering nearby, from home</p>

<br><br>

<p class="lead">life is a necisity and a right, we have advanced to the point where we should not be dying of hunger. we have healthcare technology, we have the ability to change, it's time to start seeing ourselves as a part of one larger organism. we can do this!</p>
<p class="lead">givingfor's mission is to promote the right to life. to foster growth, and to spark change. giving is recieving.</p>

<br><br><br>
<a class="btn">give here</a>
<br><br>