{{extend 'layout.html'}}
<style>
	#header-index-container{
		background-color:rgb(247,247,247);
		border-bottom:1px solid rgb(225,225,225);
	}
	#header-index{
		margin-left:6%;
		margin-right:6%;
	}
	#project-list-container{text-align:center;width:100%;}
	#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}
	#share-footer{
    	background-color:rgb(247,247,247);
    	border-top:1px solid rgb(225, 225, 225);
	}
	#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<script>
$(function() {
    $('a').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
    });
});
</script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.selection.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.time.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.thumbnailScroller.js')}}"></script>


<div style="background-image: url(../givingfor/static/images/abstract.JPG); height: 400px;background-size: 100% auto;">
    <br><br><br>
    <p style="text-align:center;font-size:48px;color:rgb(200,200,200);">transparent, crowd owned, nonprofit, crowdgiving platform</p>
    <br>
    <hr>
    <br>
    <p class="lead" style="text-align:center;font-family:ubuntu;font-weight:bold;"><a href="#projects">projects</a></p>
    <br><br>

    <div id="header-search" style="display:block;margin: 0 auto;width:350px; background-color:rgba(0, 0, 0, 0.4);color: white;padding:10px 20px 5px 20px;border-radius:5px;">
        <div class="input-append">
            <input type="text">
            <div class="btn-group" style="margin-top:0px;">
                <a href="/search/"><button class="btn" tabindex="-1"><i class="icon-search"></i></button></a>          
            </div>
            <br><br>
            <div class="btn-group">
              <a href="#test" class="btn btn-primary">discover</a>
              <a href="#test1" class="btn btn-default">learn more</a>
            </div>
            
        </div>
    </div>



    <br><br><br><br>
</div>


<div id="header-index-container">
	<div id="header-index">
		<p class="lead">sustainable giving</p>
        <p class="lead">inspiring generosity </p>
        <p class="lead">centered on the idea that we always are improving</p>
		<p class="lead">sign up <a href="">here</a></p>
	</div>

</div>
<div class="centered-width">
	<br>
	<p class="lead" style="text-align:center;">giving is recieving</p>
	<p class="lead" style="text-align:center;">giving time, currency, items, good will, encouragement, content, professional appointments, consulting</p>
	<p class="lead" style="text-align:center;">volunteering nearby, from home</p>
	<p class="lead" style="text-align:center;">helping with food, shelter, insurance discounts, cooperate partners</p>
	<p class="lead" style="text-align:center;">vote on what the value should be spent on</p>
	<p class="lead" style="text-align:center;"><a href="http://www.voetr.com/committee/givingfor">voetr connected</a></p>
	<p class="lead" style="text-align:center;"><a href="http://www.conex.us/project/givingfor">conex.us connected</a></p>
	<p class="lead" style="text-align:center;">life is a necessity and a right, it's time to start seeing ourselves as a part of one larger organism. we can do this!</p>
	<p class="lead" style="text-align:center;">givingfor's mission is to promote the right to life, to foster growth, and to spark change. giving is recieving.</p>
	<p class="lead" style="text-align:center;">crowd giving platform</p>
    <br><br>
    <p style="text-align:center"><i style="font-size:256px;" class="fa fa-refresh fa-spin"></i></p>
    <br><br>
    <p style="text-align:center"><i style="font-size:256px;" class="fa fa-heart-o fa-spin"></i></p>

	<br>
	<br>

	<!--<p style="text-align:center;" class="lead"><a href="/projects/">projects</a></p><hr>-->
</div>

<br><br>
<div style="background-color:rgb(123,174,123);border-bottom:3px solid rgb(220,220,220);" id="projects">
    <br><br><br>
    <p style="float:left;margin-left:6%;font-size:34px;"><a style="color:rgb(240,250,240)" href="/projects/">projects</a></p> 
    <p style="float:right;margin-right:6%;disply:inline"><i style="font-size:96px;margin-top:-32px" class="fa fa-users fa-inverse"></i></p><br>
    <div style="clear:both;"></div>
    <br>
</div>
<br><br><br>

<div class="centered-width">

	<div id="project-list-container">
		{{for project in project_list[:10]:}}
		<div id="project-list-item">
			<a href="/project/{{=project['url_title']}}"><p style="text-align:center;">{{=project['title']}}</p></a>
			<a href="/project/{{=project['url_title']}}"><img style="width:256px;" class="img-polaroid" src="/givingfor/static/images/noimage-icon.png"/></a>
		</div>
		{{pass}}
		<br><br>
	</div>
	<br>
	<hr>
	<br>
	<table style="margin: auto;">
		<tr>
			<td><a href="/discover/" class="btn"><i class="fa fa-heart"></i> submit a project</a></td>
			<td><a href="/discover/" class="btn"><i class="fa fa-random"></i> discover</a></td>
			<td><a class="btn"><i class="fa fa-heart"></i> give / volunteer</a></td>
		</tr>
	</table>
	<br><br><br>
	<hr>
    {{for article in range(5):}}
        <div id="project-list-item">
            <p class="lead" style="text-align:center;">articles / information / etc</p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/givingfor/static/images/noimage-icon.png"/></a>
        </div>
    {{pass}}
	<hr>
	<br>
	<script>
	{{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });
	</script>
    
    <hr>
    <p class="lead" style="text-align:center;">we're really great</p>
    <div>
        <div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
    </div>
    <hr>    



<style>

path {
  fill: yellow;
  stroke: #000;
}

circle {
  fill: #fff;
  stroke: #000;
  pointer-events: none;
}

.PiYG .q0-9{fill:rgb(197,27,125)}
.PiYG .q1-9{fill:rgb(222,119,174)}
.PiYG .q2-9{fill:rgb(241,182,218)}
.PiYG .q3-9{fill:rgb(253,224,239)}
.PiYG .q4-9{fill:rgb(247,247,247)}
.PiYG .q5-9{fill:rgb(230,245,208)}
.PiYG .q6-9{fill:rgb(184,225,134)}
.PiYG .q7-9{fill:rgb(127,188,65)}
.PiYG .q8-9{fill:rgb(77,146,33)}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
$(function() {

var width = 960,
    height = 500;

var vertices = d3.range(500).map(function(d) {
  return [Math.random() * 2000, Math.random() * height];
});

var svg = d3.select("#triangle").append("svg")
    .attr("width", '100%')
    .attr("height", height)
    .attr("class", "PiYG")
    .on("mousemove", function() { vertices[0] = d3.mouse(this); redraw(); });

var path = svg.append("g").selectAll("path");

svg.selectAll("circle")
    .data(vertices.slice(1))
  .enter().append("circle")
    .attr("transform", function(d) { return "translate(" + d + ")"; })
    .attr("r", 2);

redraw();

function redraw() {
  path = path.data(d3.geom.delaunay(vertices).map(function(d) { return "M" + d.join("L") + "Z"; }), String);
  path.exit().remove();
  path.enter().append("path").attr("class", function(d, i) { return "q" + (i % 9) + "-9"; }).attr("d", String);
}
});

</script>

</div>
<div id="triangle"></div>


<br><br><br>
<div id="share-footer">
    <div id="share-footer-container">
    	<div style="float:left;">
    		<h1>share</h1>
    		<p class="lead">facebook, twitter, lealr, google</p>
    	</div>
		<div style="float:right;">
		    <h1>get the app</h1>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/givingfor/static/images/app_store_icon.png" /></a>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/givingfor/static/images/android_marketplace_icon.png" /></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<br>
<br>
<br>
