{{extend 'layout.html'}}
<style>
	#header-index-container{
		background-color:rgb(220,225,225);
		border:2px solid rgb(180,180,180);
	}
	#header-index{
		margin-left:6%;
		margin-right:6%;
	}
	#project-list-container{text-align:center;width:100%;}
	#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;}
</style>
<div id="header-index-container">
	<div id="header-index">
		<h3>{{=request.args(0)}}</h3>
	</div>
</div>


<div class="centered-width">

	<h4>follow</h4>
	{{for x in range(10):}}
		<h5>project {{=x}}</h5>
	{{pass}}
	{{for x in range(10):}}
		<h5>feed item {{=x}}</h5>
	{{pass}}


</div>