{{extend 'layout.html'}}
<style>
	#project-list-container{text-align:center;width:100%;}
	#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;}
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}

</style>
<div id="index-header">
    <div id="index-header-container">
		<h3 style="float:left;">projects</h3>
		<a style="float:right;" data-toggle="modal" href="#new-project" class="btn">+ new project</a>
		<div style="clear:both;"></div>
    </div>
</div>
<br>

<div class="centered-width">
	<p>sort by</p><p>growth</p><p>followers</p><p>donated value</p><p>trending</p>
	<p>filter</p><p>tags</p><p>date ending</p><p>type</p>
	{{for project in project_list:}}
		<h4><a href="/project/{{=project['url_title']}}">{{=project['title']}}</a></h4>
		<p class="lead">{{=project['description']}}</p>
	{{pass}}
</div>

<br>
<br>
<br>
<br>


<div class="modal fade" id="new-project" style="display:none;">
    <div class="modal-header" id="new-project-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new project</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        <p class="lead">description and such
        <div id="external-login" style="display: table;margin: 0 auto;">
        <a id="facebook-login">table link 1</a>
        <a id="twitter-login">table link 2</a>
        <a id="google-login">table link 3</a> 
        </div>
    </div>
    <div class="modal-footer">
        footer
    </div>
</div> 

<script>
    $("#new-project").draggable({handle:"#new-project-header", cursor:"move"}); 
</script>
