{{extend 'layout.html'}}
<style>
 #content { }
 #right { 
	width: 255px;
	float: right;
	padding-left:15px;
	padding-right:15px; 
}
#left {
	width: 175px; 
	float: left;
	border-right:1px solid rgb(238,238,238);  
	padding-left:15px;    
}
</style>
<br><br>
<div class="centered-width">
	<div id="right">
		<p class="btn">donate</p>
		<p class="btn">follow</p>
		<p class="btn">progress</p>
		<p class="btn">follower list</p>
		<p class="btn">like?</p>
	</div>
	<div id="left">
		share<br>
		facebook<br>
		twitter<br>
		google+<br>
		lealr<br>
		conex.us<br>
		sharing causes more donations!<br>
	</div>
	<div id="content">
		<h1>{{=selected_project[0]['title']}}</h1>
		<p class="lead">{{=selected_project[0]['description']}}</p>
		<p>by</p><a href="/member/member/">memeber name</a> for <a href="/project/parent/">parent project</a>
		<br><br>
		<h4>project details</h4>
		<h4>transparent finances etc</h4>
		<h4>associated projects</h4>
		<h4>goals</h4>
		<h4>where does the money go? money tracking</h4>
		<h4>project goals / time frame</h4>
		<p>list of people who contributed / profile links</p>
		<br><br>
		<p>conex.us project link</p>
		<p>results reporting</p>
	    <div class="progress progress-striped active">
	    	<div class="bar" style="width: 40%;"></div>
	    </div>



	</div>
</div>
