{{extend 'layout.html'}}
<br><br>
<h1>givingfor</h1><hr>
<br>
<p class="lead">help those in need</p>

crowd owned and transparent<br>
the government isn't going to do it, so we are<br>
if you think youre eleigble for benifits, sign up <a href="">here</a>
giving is recieving<br>
helping with food, shelter, insurance discounts, cooperate partners<br>
hospitalityfor, insuringfor, deliveryfor, investingfor, bankingfor, conex.us. epoint.me<br>
vote on what the value show be spent on<br>
voetr committee<br>

<br><br>
giving time, currency, items, good will, encouragement, content, professional appointments, consulting

<h5>$10200120210 to spend</h5> how?

<br>
add a new givingfor project
vote on project

<br><br>
browse givingfor resources
<br>
volunteering nearby, from home


<br><br>

life is a necisity and a right, we have advanced to the point where we should not be dying of hunger. we have healthcare technology, we have the ability to change, it's time to start seeing ourselves as a part of one larger organism. we can do this!
<br>
givingfor's mission is to promote the right to life. to foster growth, and to spark change. giving is recieving. 

<br><br><br>
<a class="btn">give here</a>